@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import 'tailwindcss';

@source "../views";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake, cyberpunk, nord;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {

    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
    --font-play: 'Play', serif;
    --font-nimbus: 'Nimbus Sans', sans-serif;
}


