@font-face {
    font-family: 'Nimbus Sans';
    src: url('/fonts/NimbusSanL-Reg.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nimbus Sans';
    src: url('/fonts/NimbusSanL-RegIta.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Nimbus Sans';
    src: url('/fonts/NimbusSanL-Bol.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nimbus Sans';
    src: url('/fonts/NimbusSanL-Bollta.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.footer {
    margin-top: auto;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loader span:first-child {
    margin-bottom: 15px;
}

#registration {
    display: none;
}

.alert-container {
    z-index: 9998;
    position: fixed;
    width: 35%;
    top: 70px;
    right: 20px;
}

.modal {
    position: fixed;
    z-index: 9980;
}


@media (max-width: 768px) {
    .alert-container {
        width: 80%;
    }
}

.alert {
    border: none;
}

.fancybox__container {
    z-index: 9999 !important;
}


.plyr {
    --plyr-color-main: #25252c;
    --plyr-control-padding: 10px;
}

#ageVerify::backdrop {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
}

.btn-hero {
    padding: 18px 74px;
    display: inline-block;
    border: 2px solid #0FF8F8;
    border-radius: 40px;
    background: transparent;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
}

.btn-hero:hover {
    background: #00e0ff;
    color: #000;
}




